html {
	overflow-x: hidden;
	font-size: 62.5%;
	
}
	

body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(0, 0, 0);

}

.main-container {
	display:inline;
	width: 100vw;
	margin: 0 auto;
}

.container {
	display: block;
	float: left;
	padding-right: 20px;
	width: 100%;
	margin: 0 auto;
}

.top {
	width: auto;
}

.top h1 {
	background-color: #008da045;
	margin-top: 20px;
	margin-left: 180px;
	padding: 10px;
	border-radius: 30px;
}

.top img {
	width: auto;
	margin: 0;
}


header {
	width: 100%;
	background-color: black;
	display: block;
	float: left;
	border-bottom: 2px solid #f231a5;
	padding: 20px;

}

header h1 {
	color: aqua;
	margin: 0;
	padding-top: 10px;
	text-align: left;
}

header h2 {
	color: #ffffff84;
	margin: 0;
	text-align: left;
}

h1 {
	font-size: 3rem;
	font-family: 'Gotham HTF Light' sans-serif;
	color: #f231a5;
	text-align: center;
	font-weight: 100;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: normal;
	color: #09f018d1;
	text-align: center;
	margin-bottom: 40px;
}

h3 {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 10px;
	color: #008ea0;
	font-weight: 200;
	font-style: normal;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
}

h5 {
	font-style: normal;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
	margin-left: 10px;
	font-weight: normal;
	padding: -5px;
}


p {
	font-weight: 200;
	font-size: 1.9rem;
	/* equivalente a 16px */
	font-weight: normal;
	text-align: left;
	color: #008ea0;
	margin-bottom: 30px;
	padding: 0;
	line-height: 1.5;
}

ol {
	margin-left: 30px;
}

ol li {
	font-size: 50px;
	color: #f231a5
}

section article {
	display: block;
	float: left;
	width: 60%;
	margin: 10px;
}

section nav {
	display: block;
	float: left;
	width: 30%;
	margin-top: 30px;
	padding-left: 30px;
}

nav li {
	margin: 1px 20px 1px 0;
	padding: 10px;
	color: #f231a5;
}

nav a {
	color: #f231a5;
	font-size: 1.8rem;
	text-decoration: none;
}

nav a:hover {
	color: aqua;
}

img {
	width: 35%;
	margin-top: 50px;
	margin-left: 200px;
}

.filtro:hover {
	filter: sepia(50%);
}

footer {
	background-color: black;
	display: block;
	float: left;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #f231a5;
}

footer p {
	font-size: 1.5rem;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 20px;

}

footer small {
	font-size: 80%;
	display: flex;
	text-align: center;
	padding: 5px;
	color: #ffffff;
}

/*Tablet*/

@media (max-width: 769px) {
	/* A PARTIR DE 768px SERA ATENDIDO ESSES PADROES*/

	.top h1 {
		background-color: #008da068;
		width: 80%;
		margin: 40px 60px;
		padding: 10px;
		border-radius: 30px;
	}

	.top img {
		width: 100%;
		height: 70%;
		margin: 0;
		padding: 0;
	}

	header {
		padding: 10px;
	}

	header h1 {
		font-size: 2rem;
	}

	header h2 {
		font-size: 1.5rem;
		padding-bottom: 5px;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 5px;
		margin-left: 10px;
		color: #008ea0;
		font-weight: 200;
		font-style: normal;
		font-size: 20px;
	}

	a {
		text-decoration: none;
		cursor: pointer;
		font-size: 10px;
	}

	p {
		font-weight: 200;
		font-size: 1.5rem;
		font-weight: normal;
		color: #008ea0;
		margin: 0;
		padding: 10px;
		line-height: 1.7;
	}

	ol {
		margin-left: 30px;
	}

	ol li {
		font-size: 50px;
		color: #f231a5
	}

	section nav {
		display: block;
		float: left;
		width: 30%;
		margin-top: 30px;
		padding-left: 10px;
	}

	nav li {
		margin: 1px 20px 1px 0;
		padding: 5px;
		color: #f231a5;
	}

	nav a {
		color: #f231a5;
		font-size: 1.3rem;
	}

	nav a:hover {
		color: rgb(0, 0, 0);
	}

	section article {
		display: block;
		float: left;
		width: 50%;
		margin: 10px;
	}

	img {
		width: 50%;
		margin-top: 50px;
		margin-left: 100px;
	}

	footer {
		background-color: black;
		display: block;
		float: left;
		padding: 0;
		width: 100%;
		border-top: 1px solid #f231a5;
	}

	footer p {
		font-size: 1.5rem;
		color: #ffffff;
		margin-left: 20px;

	}

	footer small {
		font-size: 60%;
		display: flex;
		text-align: center;
		padding: 5px;
		color: #ffffff;
	}
}


/*Smatphones*/

@media (max-width: 320px) {

	.main-container {
		display: block;
		width: 100vw;
		margin: 0;
	}

	.container {
		display: block;
		float: left;
		width: 100vw;
		margin: 0;
	}

	.top {
		width: 100%;
	}

	.top h1 {
		background-color: #008da068;
		width: 50%;
		margin-left: 80px;
		padding: 5px;
		border-radius: 30px;
	}

	.top img {
		width: 106%;
		height: 40%;
		margin: 0;
		padding: 0%;
	}

	header {
		padding-left: 10px;
	}

	header h1 {
		font-size: 1.3rem;
	}

	header h2 {
		font-size: 1rem;
		padding-bottom: 5px;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	h2 {
		font-size: 15px;
	}

	h3 {
		margin-top: 10px;
		margin: 0;
		color: #008ea0;
		font-weight: 200;
		font-size: 1.4rem;
		text-align: center;
	}

	a {
		text-decoration: none;
		cursor: pointer;
		font-size: 10px;
	}

	p {
		font-weight: 200;
		font-size: 1.2rem;
		font-weight: normal;
		color: #008ea0;
		margin: 0;
		padding: 10px;
	}

	ol {
		margin-left: 30px;
	}

	ol li {
		font-size: 50px;
		color: #f231a5
	}

	section nav {
		display: block;
		float: left;
		width: 100%;
		margin-top: 0;
		padding: 0;
	}

	nav li {
		margin: 1px 0 1px 0;
		color: #f231a5;
		text-align: center;
	}

	nav a {
		color: #f231a5;
		font-size: 1rem;
	}

	nav a:hover {
		color: rgb(0, 0, 0);
	}

	section article {
		display: block;
		float: left;
		width: 100%;
		margin: 10px;
	}

	img {
		width: 50%;
		margin-top: 0;
		margin-bottom: 20px;
		margin-left: 75px;
	}

	footer {
		background-color: black;
		display: block;
		float: left;
		padding: 0;
		width: 100%;
		border-top: 1px solid #f231a5;
	}

	footer p {
		font-size: 1.3rem;
		color: aqua;
		margin-left: 20px;

	}

	footer small {
		font-size: 60%;
		display: flex;
		text-align: center;
		padding: 5px;
		color: #ffffff;
	}
}